head
	link(rel='stylesheet', href='/css/views/includes/banner.css')
	script(src='/js/views/includes/banner.js')
div#banner-top.navbar
	div.navbar-inner
		ul.nav.pull-right
			if typeof(locals.user) !== "undefined"
				a#welcomeStatement.brand(href='/users/profile/') welcome, #{locals.user.first} #{locals.user.last}
			li
				if typeof(locals.user) === "undefined" 
					form.navbar-form(method="get",action='/users/login')
						button.btn(type='submit') Login
				else
					form.navbar-form(method="post",action='/users/logout')
						button.btn(type='submit') Logout
			li.divder-vertical
		form('action'='/infos/searches/','method'='get').navbar-search.pull-left
			input(type='text',placeholder='Search').search-query
	
