head
	link(rel='stylesheet', href='/css/views/includes/navbar.css')
	script(src='/js/views/includes/navbar.js')
div.navbar#navbar-mid
		div.navbar-inner
			ul.nav.navbar-items
				li.active.menu-item
					a(href='/') Home
				li.divider-vertical
				li.dropdown.menu-item
					a(data-toggle='dropdown').dropdown-toggle Texts
						b.caret
					ul.dropdown-menu
						li
							a(href='/texts/doc') Documentation
						li
							a(href='/infos/installation') Installation
						li.divider
						li
							a(href='/texts/register') Register
						li
							a(href='/texts/search')	Search
						li
							a(href='/texts/compare') Compare
						li.divider
						li
							a(href='/texts/performance') Performance
				li.divider-vertical
				li.dropdown.menu-item
					a(data-toggle='dropdown').dropdown-toggle Images
						b.caret
					ul.dropdown-menu
						li
							a(href='/images/doc') Documentation
				li.divider-vertical
				li.dropdown.menu-item
					a(data-toggle='dropdown').dropdown-toggle Videos
						b.caret
					ul.dropdown-menu
						li
							a(href='/videos/doc') Documentation
			ul.nav.pull-right.navbar-items
				li.menu-item
					a(href='/infos/about') About
				li.divider-vertical
				li.menu-item
					a(href='http://cc-fingerprint.blogspot.sg/') Blog
				li.divider-vertical
				li.menu-item
					a(href='https://github.com/ethanlim/ccmf') Source