doctype 5
html
	head
		title= title
		meta(property="og:url" content="http://ccmf.ethanlim.net")
		meta(property="og:title" content="Creative Commons Media Fingerprint Library (CCMF) - Track your contents!")
		meta(property="og:type" content="website")
		meta(property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/ccmf/img/carousel/1.jpg")
		meta(property="og:site_name" content="Creative Commons Media Fingerprint Library (CCMF) - Track your contents!")
		meta(property="og:description" content="CCMF is a free and open-source service that allow you as a copyright owner to safeguard your contents. Once you registered your content with us, CCMF would passively search the web and inform you if your content is encountered outside of your intended locations")
		link(rel='icon',href='https://s3-ap-southeast-1.amazonaws.com/ccmf/img/logos/favicon.ico',type='image/x-icon')
		link(rel='stylesheet', href='/css/layout.css') 
		script(src='/js/layout.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/js/lib/bootstrap/bootstrap.min.js')
		link(rel='stylesheet', href='/css/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/lib/bootstrap/css/bootstrap-responsive.min.css')
		script(src='https://cdn.firebase.com/v0/firebase.js')
		block head
body
	div.row-fluid#banner-section
		div.span12
			include includes/banner
	div.container-fluid
		div.row-fluid#header-section
			div.span12
				block header
		div.row-fluid#flash-section
			div.span6.offset5
				block flash
		div.row-fluid#nav-section
			div.span6.offset3
				include includes/navbar
		div.row-fluid#content-section
			div.span12
				block content
		div.row-fluid#footer-section
			div.span12.footer
				block footer
