html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background:#fff;
}

header{
	font-size: 25px;
	margin-bottom: 1%;
}

a{
	cursor:pointer;
}

.container {
    margin: 0 auto;
    height: 100%;
    padding: 1% 0;
 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#topnav-section{
	height:10%;
}

#header-section{
	height: 10%;
}

#flash-section{
	margin-bottom:2%;
}	

#content-section{
	height:70%;
}

#footer-section{
	height:5%;
}
