extends ../layout

block header
	div.row-fluid
		div.span8.offset4
			h1= title
block content
	section.row-fluid.span2.offset1#videosDocumentationNav
	section.row-fluid.span2.span6#videosDocumentationContent
		P
			| Coming Soon!