extends ../layout

//- CCMF Library
block head
	link(rel='stylesheet', href='/css/views/texts/compare.css')
	script(src='/js/views/texts/compare.js')
	script(src='/node_modules/ccmf/lib/build/ccmf.js')
block header
	div.row-fluid
		div.span8.offset5
			h1= title
block content
	div.row-fluid.offset3
		header Instructions
		article 
				| Insert two textual content into each  
				| textbox search the web for similar
				| the level of similarity between them.
	div.row-fluid.offset3
		section#a-compare
			h4 A
			textarea#a-tb
		section#b-compare.offset3
			h4 B
			textarea#b-tb
	div.row-fluid.offset4
		section#result.offset1
			span
	div.row-fluid.offset5
		button(type='button')#compare-btn.btn Compare