extends ../layout

block head
	link(rel='stylesheet', href='/css/views/texts/performance.css') 
	script(src='/js/views/texts/performance.js')
	script(src='/js/lib/rgraph/RGraph.common.core.js')
	script(src='/js/lib/rgraph/RGraph.hbar.js')
block header
	div.row-fluid
		div.span8.offset4#header
			h1= title
block content
	section.row-fluid.span2.offset1#navPerformances
		ul.nav.nav-tabs.nav-stacked
			li.active
				a(href='#general') General
					i.icon-chevron-right
			li
				a(href='#testEnv') Test Environment
					i.icon-chevron-right
			li
				a(href='#shingles') Shingles
					i.icon-chevron-right
			li
				a(href='#minhash') MinHash
					i.icon-chevron-right
			li
				a(href='#lsh') Locality-Sensitive Hashing
					i.icon-chevron-right
			li 
				a(href='#searches') Searches
					i.icon-chevron-right
			li 
				a(href='#storage') Register
					i.icon-chevron-right
	section.row-fluid.span6#stats
		section
			a(name='general').DocumentHeader General
			article
				p 
					| Performance data of the Creative Common's Media-Fingerprint (CCMF) library 
					| is obtained from executing the various modules through a standard dataset. 
					| The standard dataset used is from 21578 news documents from <a href='http://www.daviddlewis.com/resources/testcollections/reuters21578/'>
					| Reuters</a>. The benchmark is not based on all the articles but a sizable subset as 
					| indicated on each section. Each section would display the difference in performance
					| when modules are used with different parameters.
		section
			a(name='testEnv').DocumentHeader Test Environment
			article
				p
					| The test environment is based on the <a href='http://aws.amazon.com/'>Amazon Web Services (AWS)</a> 
					| 64-bits <a href='http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/concepts_micro_instances.html'>micro-instance</a>. 
				table.table.table-bordered
					thead
						th Item
						th Description
					tbody
						tr	
							td Processor
							td 2 x 1.0-1.2 GHz Xeon 
						tr
							td Memory
							td 615 Mb
		section
			a(name='shingles').DocumentHeader Shingles
			canvas#csvShinglesPerformance(height='300px',width='800px')
			article
		section
			a(name='minhash').DocumentHeader Minhash
			canvas#csvMinhashPerformance(height='300px',width='800px')
			article
		section
			a(name='lsh').DocumentHeader Locality-Sensitive Hashing
			canvas#csvLshPerformance(height='300px',width='800px')
			article
		section
			a(name='searches').DocumentHeader Searches
			article 
		section
			a(name='register').DocumentHeader Register
			article