extends ../layout

block head
	link(rel='stylesheet', href='/css/views/texts/search.css')
	script(src='/js/views/texts/search.js')
	script(src='/node_modules/ccmf/lib/build/ccmf.js')
block header
	div.row-fluid
		div.span8.offset5
			h1= title
block content
	div.row-fluid.offset3
		section#instructions-area
			header Instructions
			article 
					| Insert the text content and search the registry 
					| for similar texts.
	div.row-fluid.offset3
		section#search-area
			textarea.span5
	div.row-fluid.offset5
		button(type='button')#search-btn.btn Search
	div.row-fluid.offset3
		section.span5#result-area
			h4 Found Signatures
			table.table.table-striped.table-bordered.table-hover#found-sig-table
				thead
					th.span1 No
					th.span4 Signature
				tbody
					
			