extends ../layout

block header
	div.row-fluid
		div.span8.offset5
			h1= title
block content
	div.row-fluid.offset3
		header Instructions
		article 
				| Insert two textual content into each  
				| textbox and click compare to determine 
				| the level of similarity between them.
	div.row-fluid.offset3